<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>

        <server name="KERNEL_CLASS" value="App\Kernel"/>

        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="1" force="true"/>
        <server name="APP_SECRET" value="garagepro-ci-secret" force="true"/>

        <server
            name="DATABASE_URL"
            value="mysql://root:root@127.0.0.1:3306/garage_pro_test?serverVersion=8.0&amp;charset=utf8mb4"
            force="true"
        />

        <server name="MAILER_DSN" value="null://null" force="true"/>
        <server name="MESSENGER_TRANSPORT_DSN" value="in-memory://" force="true"/>

        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <directory>src/Entity</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="var/coverage/clover.xml"/>
            <html outputDirectory="var/coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
</phpunit>